@using System.Security.Claims
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"  />
    <script src="~/Jquery/jquery-3.6.0.min.js"></script>
    <script src="~/Jquery/jquery.validate.min.js"></script>
    <script src="~/Jquery/jquery.validate.unobtrusive.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/Css/bootstrap.min.css"/>
    <script src="~/Js/bootstrap.bundle.min.js"></script>
    <title>@ViewBag.Title</title>
</head>

<body>

    @{
        if (Context.Request.Cookies.ContainsKey("Guest"))
        {
            if (Context.Request.Cookies["Guest"] == "NotAccepted")
            { 
               <div class="text-center" style="margin: 0; height: auto; width: 100%; background-color: #00023d; color: #eee; position:fixed">
                            На сайте используется сбор данных Cookies. 
                            Чтобы ознакомиться пройдите по ссылке <a href="~/Home/Confidence">Политика конфиденциальности</a>. 
                            Согласие на сбор данных <a asp-action="cookiesAccept" asp-controller="home" class="btn btn-primary me-2 my-2">Принять</a>
                       
                        </div>
                <div style="margin: 0; height: 50px; width: 100%"></div>
            }
            else{}
        }
        else
        {
            Context.Response.Cookies.Append("Guest", "NotAccepted");

                   <div class="text-center" style="margin: 0; height: auto; width: 100%; background-color: #00023d; color: #eee; position:fixed">
                            На сайте используется сбор данных Cookies. 
                            Чтобы ознакомиться пройдите по ссылке <a href="~/Home/Confidence">Политика конфиденциальности</a>. 
                            Согласие на сбор данных <a asp-action="cookiesAccept" asp-controller="home" class="btn btn-primary me-2 my-2">Принять</a>
                        
                        </div>
                        <div style="margin: 0; height: 50px; width: 100%"></div>
        }
    }

    <header class="container pt-3 d-flex justify-content-center">
        <div class="row d-flex justify-content-center">
            <ul class="nav flex-column flex-sm-row d-flex justify-content-center text-center">
                        <li><a href="/" class="nav-link px-2 link-dark">АШАШ</a></li>
                        <li><a href="#courses" class="nav-link px-2 link-dark">КУРСЫ</a></li>
                        <li><a href="#about" class="nav-link px-2 link-dark">О КОМПАНИИ</a></li>
                        <li><a href="#feedbacks" class="nav-link px-2 link-dark">ОТЗЫВЫ</a></li>
                        <li><h4 class="px-5 py-1">8-909-65-258-65</h4></li>
                @{
                var user = Context.User.Identity;
                }
                @if (user is not null && user.IsAuthenticated)
                {
                    <a asp-action="profile" asp-controller="profile"><button type="button" class="btn btn-outline-primary me-2 my-2">Профиль</button></a>
                    <a asp-action="logout" asp-controller="account"><button type="button" class="btn btn-outline-primary me-2 my-2">Выйти</button></a>  
                }
                else
                {
                    <a asp-action="login" asp-controller="account"><button type="button" class="btn btn-outline-primary me-2 my-2">Войти</button></a>
                    <a asp-action="registration" asp-controller="account"><button type="button" class="btn btn-primary my-2">Регистрация</button></a>
                }
                
            </ul>

          
        </div>
         
    </header>
    <div class="container"><hr class="featurette-divider"></div>
    @{
        var role = Context.User.FindFirst(ClaimsIdentity.DefaultRoleClaimType)?.Value;
        if (role != null)
        {
            if (role == "Admin")
            {
                            <div class="container d-flex justify-content-center">
                            
                            <a asp-action="Sliders" asp-controller="Slider"><input class="btn btn-outline-primary me-2 my-2" type="button" value="Слайдеры"/></a>
                            <a asp-action="Products" asp-controller="Product"><input class="btn btn-outline-primary me-2 my-2" type="button" value="Курсы"/></a>
                            <a asp-action="Feedbacks" asp-controller="Feedback"><input class="btn btn-outline-primary me-2 my-2" type="button" value="Отзывы"/></a>
                            <a asp-action="Content" asp-controller="Content"><input class="btn btn-outline-primary me-2 my-2" type="button" value="Контент"/></a>
                            <a asp-action="SendMail" asp-controller="Sending"><input class="btn btn-outline-primary me-2 my-2" type="button" value="Рассылка"/></a>
                             
                            </div>
            }
        }
    } 
        
    <div class="container">
        @RenderBody()
    </div>
    
  <footer class="container py-3 mt-4 justify-content-center">
      <hr class="featurette-divider">
     <div class="row justify-content-center">
         <div class="d-flex col-12 col-md-4 justify-content-center">
           <p>АШАШ © @DateTime.Now.Year</p>
         </div>
          <div class="d-flex col-12 col-md-4 justify-content-center">
              <ul class="nav flex-column text-center">
                 <li class="nav-item"><a href="~/Home/Accord" class="nav-link px-2 text-muted">Согласие с рассылкой</a></li>
                 <li class="nav-item"><a href="~/Home/Confidence" class="nav-link px-2 text-muted">Политика конфиденциальности</a></li>
                 <li class="nav-item"><a href="~/Home/Denial" class="nav-link px-2 text-muted">Отказ от ответсвенности</a></li>
                 <li class="nav-item"><a href="~/Home/TermsOfUse" class="nav-link px-2 text-muted">Пользовательское соглашение</a></li>
             </ul>
         </div>
       
    
         <div class="nav flex-column d-flex col-12 col-md-4 ">
             <h4 class="nav-item text-center">8-909-65-258-65</h4>
             <h4 class="nav-item text-center">info@shvedovaav.ru</h4>
         </div>
     </div>
  </footer>
  
</body>
</html>
