<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"  />
    <script src="~/Jquery/jquery-3.6.0.min.js"></script>
    <script src="~/Jquery/jquery.validate.min.js"></script>
    <script src="~/Jquery/jquery.validate.unobtrusive.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/Css/bootstrap.min.css"/>
    <script src="~/Js/bootstrap.bundle.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">АШАШ ЛОГОТИП</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Навигационное меню</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
        <li><a href="/SendMail" class="nav-link px-2 link-dark">Отправить письмо</a></li>
      </ul>

      <div class="col-md-3 text-end">
                @{
                var user = Context.User.Identity;
                }
                @if (user is not null && user.IsAuthenticated)
                {
                     <a href="/profile"><button type="button" class="btn btn-outline-primary me-2">Профиль</button></a>
                  <a href="/logout"><button type="button" class="btn btn-outline-primary me-2">Выйти</button></a>  

                }
                else
                {
                    <a href="/login"><button type="button" class="btn btn-outline-primary me-2">Войти</button></a>
                    <a href="/registration"><button type="button" class="btn btn-primary">Регистрация</button></a>
                }
      </div>
    </header>
 </div>
   
        
    <div class="container">
        @RenderBody()
    </div>
    
  <footer class="container">
    <p class="col-md-4 mb-0 text-muted">АШАШ © @DateTime.Now.Year;</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
  </footer>
  
</body>
</html>
