@model IEnumerable<ShvedovaAV.Models.Content>
@{
    ViewBag.Title = "Контент";
}

<table class="table">
     <tr><th>Название</th><th>Контент</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td><video width="240" height="130" controls>
                <source src="~/@item.Source" type="video/mp4">
                <source src="~/@item.Source" type="video/mpeg">
                <source src="~/@item.Source" type="video/ogg">
            </video></td>
            <td>
            <form asp-action="DeleteContent" asp-route-id="@item.Id" method="post">
                <input type="submit"  value="Удалить"/>
            </form>
            </td>
            <td><a asp-action="AccessContent" asp-controller="Content" asp-route-id="@item.Id"><input type="button" value="Доступ"/></a></td>
        </tr>
    }
</table>
<a asp-action="AddContent" asp-controller="Content"><input type="button" value="Добавить"/></a>

