@{
    @model ShvedovaAV.Models.User
    ViewBag.Title = "Восстановление пароля";
}
<div class="container text-center">
<h2>Восстановление пароля</h2>
<p>Введите ваш Email для восстановления пароля.</p>
<h5>@ViewBag.Message</h5>

<form asp-action="forgotpassword" asp-controller="account" method="post">
    <p>
        <label asp-for="Email">Email</label><br />
        <input type="Email" asp-for="Email" />
    </p>
    <p>
        <input type="submit" value="Восстановить" />
    </p>
</form>
</div>