@{
    @model ShvedovaAV.Models.User
    ViewBag.Title = "Авторизация";
}

<h2>Войти</h2>
@ViewData["Message"]
<form asp-action="login" asp-controller="account" method="post">
    <p>
        <label asp-for="Email">Email</label><br />
        <input type="Email" asp-for="Email" />
    </p>
     <p>
        <label asp-for="Password">Пароль</label><br />
        <input type="Password" asp-for="Password" />
    </p>
    <p>
        <input type="submit" value="Войти" />
    </p>
</form>