@using System.Security.Claims
@{
    ViewBag.Title = "Профиль";
}

@{
var role = Context.User.FindFirst(ClaimsIdentity.DefaultRoleClaimType);
 }
@if(role != null)
 {
        if (role.Value == "admin")
        {
            <p>Профиль Администратора</p>
               
                <a asp-action="Products" asp-controller="Product"><input type="button" value="Курсы"/></a>
                <a asp-action="Sliders" asp-controller="Slider"><input type="button" value="Слайдеры"/></a>
                <a asp-action="Feedbacks" asp-controller="Feedback"><input type="button" value="Отзывы"/></a>
                <br/><br/>
                
               <ul>  
                <p>Пользователи</p>
                    <li><a asp-action="Content" asp-controller="Content"><input type="button" value="Контент"/></a></li>
                    <li><a asp-action="SendMail" asp-controller="Sending"><input type="button" value="Рассылка"/></a></li>
                    <li>Управление рассылкой</li>
                </ul>  

        }
        else
        {
            <p>Профиль</p>
                <ul>
                    <li>Данные пользователя</li>
                    <li>Сменить пароль</li>
                    <li>Доступный Контент</li>
                </ul>
        }
 }


