@{
    @model ShvedovaAV.ViewModels.ChangePasswordViewModel
    ViewBag.Title = "Смена пароля";
}
<div class="container text-center">
<h2>Смена пароля</h2>
<h4>@ViewBag.Message</h4>
<form asp-action="changepassword" asp-controller="profile" method="post">
     <input type="hidden" value="@ViewBag.Id" />
     <p>
        <label asp-for="OldPassword">Старый пароль</label><br />
        <input asp-for="OldPassword" />
        <span asp-validation-for="OldPassword"></span>
    </p>
     <p>
        <label asp-for="NewPassword">Новый пароль</label><br />
        <input asp-for="NewPassword" />
        <span asp-validation-for="NewPassword"></span>
    </p>
     <p>
        <label asp-for="NewPasswordConfirm">Подтверждение пароля</label><br />
        <input asp-for="NewPasswordConfirm" />
        <span asp-validation-for="NewPasswordConfirm"></span>
    </p>
    
    <p>
        <input type="submit" value="Сменить" />
    </p>
</form>
</div>