@{
    @model ShvedovaAV.ViewModels.SliderViewModel
    ViewBag.Title = "Редактирование слайдера";
}

<h2>Редактирование слайдера</h2>

<form asp-action="EditSlider" asp-controller="Slider" method="post" asp-route-id="@Model.Id" enctype="multipart/form-data">
    <p>
        <label asp-for="Name">Имя</label><br />
        <input asp-for="Name" />
         <span asp-validation-for="Name"></span>
    </p>
    <p>
        <label asp-for="Image">Изображение</label><br />
        <input asp-for="Image" type="hidden"/>
        <img src="~/@Model.Image" width="240" height="130"/><br />
        <label asp-for="ImageFile">Изменить изображение</label><br />
        <input asp-for="ImageFile" type="file"/>
         <span asp-validation-for="ImageFile"></span>
    </p>
    
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form>
