@{
    @model ShvedovaAV.Models.Product
    ViewBag.Title = "Редактирование продукта";
}

<h2>Добавление продукта</h2>

<form asp-action="EditProduct" method="post" asp-route-id="@Model.Id" enctype="multipart/form-data">
    <p>
        <label asp-for="Name">Имя</label><br />
        <input asp-for="Name" />
         <span asp-validation-for="Name"></span>
    </p>
    <p>
        <label asp-for="Description">Описание</label><br />
        <textarea asp-for="Description" style="height:300px;width:500px"></textarea>
         <span asp-validation-for="Description"></span>
    </p>
     <p>
        <label asp-for="Price">Цена</label><br />
        <input asp-for="Price" />
         <span asp-validation-for="Price"></span>
    </p>
     <p>
        <label asp-for="Category">Категория</label><br />
        <input asp-for="Category" />
         <span asp-validation-for="Category"></span>
    </p>
    <p>
        <label asp-for="Image">Изображение</label><br />
        <input asp-for="Image" type="hidden"/>
        <img src="~/@Model.Image" width="240" height="130"/><br />
        <label asp-for="ImageFile">Изменить изображение</label><br />
        <input asp-for="ImageFile" type="file"/>
         <span asp-validation-for="ImageFile"></span>
    </p>
    
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form>
