@{
    @model ShvedovaAV.ViewModels.FeedbackViewModel
    ViewBag.Title = "Добавление отзыва";
}

<h2>Добавление отзыва</h2>

<form asp-action="AddFeedback" asp-controller="Feedback" method="post" enctype="multipart/form-data">
    <p>
        <label asp-for="AuthorName">Автор</label><br />
        <input asp-for="AuthorName" />
         <span asp-validation-for="AuthorName"></span>
    </p>
    <p>
        <label asp-for="Text">Текст</label><br />
        <textarea asp-for="Text" style="height:300px;width:500px"></textarea>
         <span asp-validation-for="Text"></span>
    </p>
    <p>
        <label asp-for="ImageFile">Изображение</label><br />
        <input asp-for="ImageFile" type="file"/>
         <span asp-validation-for="ImageFile"></span>
    </p>
    
    <p>
        <input type="submit" value="Добавить" />
    </p>
</form>
