@model IEnumerable<ShvedovaAV.Models.Feedback>
@{
    ViewBag.Title = "Отзывы";
}

<table class="table">
     <tr><th>Автор</th><th>Текст</th><th>Картинка</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AuthorName</td>
            <td>@item.Text</td>
            <td><img src="~/@item.Image" width="240" height="130"></img></td>
            <td><a asp-action="EditFeedback" asp-route-id="@item.Id"><input type="button"  value="Редактировать"/></a></td>
            <td>
            <form asp-action="DeleteFeedback" asp-route-id="@item.Id" method="post">
                <input type="submit"  value="Удалить"/>
            </form>
            </td>
        </tr>
    }
</table>
<a asp-action="AddFeedback" asp-controller="Feedback"><input type="button"  value="Добавить"/></a>

